@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
  /* //  background-color: #22254b; */
    background-color : #686868;	
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0;
    /* align-items: center;
    justify-content: center; */
}

.root {
    display: flex;
    flex-direction: column;
}

header {
    /* background-color: #373b69; */
    background-color: #282828;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.search {
    background-color: transparent;
    border: 2px solid #22254b;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.2rem 1rem;
}

.search::placeholder {
    color: white;
}

.search:focus {
    background-color: #650000;
    outline: none;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    background-color: #282828;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    width: 250px;
    
}

.movie img {
    object-fit: cover;
    height: 382px;
    width: 100%;
}

.movie-info {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}

.movie-info h3 {
    margin : 0;
}

.movie-over {
    background-color: white;
    position: absolute;
    color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    top : 50%;
    bottom: 0;
    right: 0;
    left : 0;
    overflow: auto;
    max-height: 50%;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over {
    transform: translateY(0%);

}

.tag {
    background-color: #505050	;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
}

.tag.green {
    color: rgb(5, 184, 5);
}

.tag.orange {
    color: orange;
}

.tag.red {
    color: red;
}
